<html>
<head>
</head>
<body>
	<footer fragment="footer" class="main-footer">
		<div class="pull-right hidden-xs">
			<b>Version</b> 1.0
		</div>
		<strong>Copyright © 2020 <a href="http://www.coupon.com" target="_blank">Coupon Site</a>.
		</strong> All rights reserved.
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script  src="/js/adminlte.min.js"></script>
		<script src="/js/main.js"></script> -->
	</footer>
</body>
</html>