<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <div fragment="header-css">
            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
            
        <link rel="stylesheet" href="/css/main.css" />
        <!-- <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" /> -->
         <!-- <link rel="stylesheet" href="/css/style.css" /> -->
        <link  rel="stylesheet" href="/css/skin-blue.min.css" /> 
        <!-- <link rel="stylesheet" href="/css/contact-form.css" /> -->
        <!-- <link rel="stylesheet" href="/css/grid.css" /> -->
        <!-- <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css" /> -->
        <!-- <link rel="stylesheet" href="/css/font-awesome.min.css" /> -->
    


<!-- <link  href="/css/style.css" rel="stylesheet" /> -->
     </div> 
</head>

<body>
    <header fragment="header" class="main-header">
        <!-- <a href="#" class="logo">
            <span class="logo-mini"><b>A</b>LT</span>
            <span class="logo-lg"><b>Admin</b></span>
        </a> -->

        <nav class="navbar navbar-static-top">

                <form  action="/logout" method="get"> 
                  
                       <button class="sidebar-toggle" data-toggle="push-menu"  type="submit"><i  class="fa fa-edit"></i>&nbsp;Log Out
                       </button>
                   </form>

<!-- 
            <a href="login.html" role="button">
                <span >Log Out</span> -->
            </a>
            <div class="navbar-custom-menu">
                <!-- <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            <span class="hidden-xs" style="text-transform: uppercase;" th:utext="${session.LoggedUserName}"></span>
                        </a> -->
                        <!-- <ul class="dropdown-menu">
                            <li class="user-footer"> -->
                                <!--<div class="pull-left">-->
                                    <!--<a th:href="@{/videog/changepassword}" class="btn btn-default btn-flat">Change Password</a>-->
                                <!--</div>-->
                                <!-- <div class="pull-right"> --> 
                                <!-- <a href="login.html" class="btn btn-default">Log Out</a> -->
                                <!-- </div>
                            <!-- </li>
                        </ul>
                    </li>
                </ul> --> 
            </div>
        </nav>
    </header>
</body>







</html>