<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <style>
                .nav-link[data-toggle].collapsed:after {
                        content: " ▾";
                }
                .nav-link[data-toggle]:not(.collapsed):after {
                        content: " ▴";
}
        </style>
</head>
<aside fragment="sidebar " class="main-sidebar">

    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li><a href="/admin/dashboard.html"><i class="fa fa-dashboard"></i> <span>Coupon Site Dashboard</span></a>
            </li>
            <li class=" nav-item treeview">
                
                <!-- <li id="customerActive"><a href="/admin/addCoupon"><i class="fa fa-circle-o"></i>
                        Coupons</a></li> -->

                <li id="customerActive" class="nav-item"><a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><i class="fa fa-circle-o"></i>
                        Coupons</a>
                        <div class="collapse" id="submenu1" aria-expanded="false">
                                <ul class="flex-column pl-2 nav">
                                        <li class="nav-item"><a class="nav-link py-0" href="/admin/addCoupon"><span>Add Coupon</span></a></li>
                                        <li class="nav-item"><a class="nav-link py-0" href="/admin/allCoupons"><span>All Coupons</span></a></li>
                                </ul>
                        </div>
                </li>

                <li id="customerActive" class="nav-item"><a class="nav-link collapsed text-truncate" href="#submenu2" data-toggle="collapse" data-target="#submenu2"><i class="fa fa-circle-o"></i>
                        Deals</a>
                        <div class="collapse" id="submenu2" aria-expanded="false">
                                <ul class="flex-column pl-2 nav">
                                        <li class="nav-item"><a class="nav-link py-0" href="/admin/addDeals"><span>Add Deals</span></a></li>
                                        <li class="nav-item"><a class="nav-link py-0" href="/admin/allDeals"><span>All Deals</span></a></li>
                                </ul>
                        </div>
                </li>

            <li id="customerActive"><a href="/admin/shop"><i class="fa fa-circle-o"></i>
                    Shop</a></li>
            <li id="teamActive"><a href="/admin/category"><i class="fa fa-circle-o"></i>
                    Categories</a></li>
            <ul class="treeview-menu">
                <li id="infoActive"><a href="/admin/customers"><i class="fa fa-circle-o"></i>
                        Customer</a></li>
                <li id="bannerActive"><a href="/admin/banners"><i class="fa fa-circle-o"></i>
                        Banner</a></li>

                <li id="infoActive"><a href="#"><i class="fa fa-circle-o"></i>
                        Information</a></li>
                <li id="infoActive"><a href="/admin/panel"><i class="fa fa-circle-o"></i>
                        Admin Panel</a></li>
                <li id="infoActive"><a href="/admin/subscribersList"><i class="fa fa-circle-o"></i>
                            Subscribers List</a></li>
                <li id="infoActive"><a href="/admin/contactUsList"><i class="fa fa-circle-o"></i>
                                Contact Us List</a></li>
            </ul>
            </li>
        </ul>
    </section>
</aside>